@page "/about"

<PageTitle>Software Wizardry - About Us</PageTitle>

<h3>About Us</h3>
<p>We are a team of highly motivated software developers focused on delivering sustainable and modern software solutions.</p>
<p>We use C# and .NET to build web applications using Blazor.</p>

